*.*am
archive
*.bai
*.bam
*bash*
*.bcf
*.bt2
*.cmh
db
db.*
doc
*.ebw
*.fa
*.fai
*.fasta
*.fet
*.fof
*.gff
*.hits
*hits*
*.jar
*.java
last_run_id
*.log
*log*
*.mpileup
*.out
output.*
*.phr
*.pin
*.pl
*.pm
*.png
*.psq
*.py
*.py~
*.py#
*.R
*.R~
*report*
*.sai
*.sh
*sorted*
status
*svn*
*.sync
*.tally
*temp
*test*
tmp
*.txt
*.vcf
*.xml
CUDH*
