### run
echo Start bowtie2 pe

outbase=`basename {{ output }} .bam`

bowtie2 -x {{ db }} {{ extra_params }} -I {{ min_insertsize }} -X {{ max_insertsize }} \
       {% if lots_of_data %} --un ${outbase}.unmapped.fq {% endif %} --{{orientation}} \
        -1 {{ fq_forward_input }} -2 {{ fq_reverse_input }}		\
       | samtools view {% if not lots_of_data %}-f 2{% endif %} -bS -> ${outbase}.unsorted

samtools sort ${outbase}.unsorted ${outbase}
samtools index ${outbase}.bam
samtools flagstat ${outbase}.bam  > ${outbase}.report
{% if not lots_of_data %}
rm ${outbase}.unsorted
{% endif %}

